/* Header styling specific for this page */
header div {
    background-image: url(../images/building/buildPage4Banner.png);
    background-repeat: no-repeat;
    object-fit: contain;
  }


/* Section Styling unsure why first two images flicker and change layout of the gallery?  */

div.gallery {
    margin: 5px;
    border: 1px solid rgb(137,133,130);
    float: left;
    width: 490px;  
}
/* Reduced to allow for border increase. 
Boarder increase to 2px to do with the hover causes movement and flickering on first two elements only. */

div.gallery:hover {
    border: 1px solid rgb(195,191,192);
}

div.gallery img {
    width: 100%;
    height: auto;
}

/* Responsive styling */

@media screen and (Max-width:600px){   
    div.gallery {
        margin: 5px;
        border: 1px solid rgb(137,133,130);
        float: left;
        width: 300px;
    }
}

@media screen and (max-width: 1200px) {
    aside {
       display: none;
     }
   }