/* Header styling specific for this page */
header div {
    background-image: url(../images/building/buildPage4Banner.png);
    background-repeat: no-repeat;
    height: 300px;
    object-fit: contain;
  }


/* Section Styling  */

section h1 {
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-padding {
    margin-left: 25px;
}

div.gallery {
    margin: 5px;
    border: 1px solid rgb(137,133,130);
    float: left;
    width: 500px;
}

div.gallery:hover {
    border: 2px solid rgb(195,191,192);
}

div.gallery img {
    width: 100%;
    height: auto;
}

/* Responsive styling */

@media screen and (Max-width:600px){
    header div {
        background-color: rgb(195, 191, 192);
        height: 150px;
    }
    
    div.gallery {
        margin: 5px;
        border: 1px solid rgb(137,133,130);
        float: left;
        width: 300px;
    }
}

@media screen and (max-width: 1200px) {
    aside {
       display: none;
     }
   }