/* Header styling */

header div {
    background-image: url(../images/interior/colPal_DarkBanner.png);
    background-repeat: no-repeat;
    object-fit: contain;
}


  /* Responsive design  */


@media screen and (Max-width:600px){
    div.gallery {
        margin: 5px;
        border: 1px solid rgb(137,133,130);
        float: left;
        width: 300px;
    }
}

@media screen and (max-width: 1200px) {
    aside {
       display: none;
     }
   }